<PRE>
Package : VetraSys
Package manager : Tomasz Szumlak, Maciej Majewski
Purpose: VELO and ST (Non)-zero suppressed data analysis and monitoring

</PRE>


<H1><A NAME="v18r0">2017-07-27 - VetraSys v18r0</A></H1>
<PRE>
Version v18r0 uses LHCb v43r0, LbCom v21r0 and Rec v22r0.

Vetra is equipped to use git versionof database.
</PRE>


<H1><A NAME="v17r1">2017-06-06 - VetraSys v17r1</A></H1>
<PRE>
Version v17r1 uses LHCb v42r0, LbCom v20r3 and Rec v21r3.

ST calibration update.
Vetra is now compatible with centos7.
</PRE>

<H1><A NAME="v17r0">2016-12-09 - VetraSys v17r0</A></H1>
<PRE>
Version v17r0 uses LHCb v40r1, LbCom v18r1 and Rec v19r2.

Migrated to gitlab

</PRE>

<H1><A NAME="v16r1">2016-04-21 - VetraSys v16r1</A></H1>
<PRE>
Version v16r1 uses LHCb v40r1, LbCom v18r1 and Rec v19r2.

Improvements to monitoring for use with Lovell.

Minor changes to Vetra configurable for CCE scan configuration.

Various fixes for compiler warnings.

Fully compatible with CMAKE and CMT.
</PRE>

<H1><A NAME="v16r0">2015-11-06 - VetraSys v16r0</A></H1>
<PRE>
Version v16r0 uses LHCb v39r1, LbCom v17r1 and Rec v18r2.

Adds compatability with Lovell, the new monitoring framework. 
Velo/VetraScripts is reintroduced to hold options files for the cron jobs that provide data to Lovell.  

Adds support for the 2015 DataType.

Various fixes for compiler warnings.

Fully compatible with CMAKE and CMT.
</PRE>


<H1><A NAME="v15r0">2014-04-03 - VetraSys v15r0</A></H1>
<PRE>
Version v15r0 uses LHCb v37r1, LbCom v15r1 and Rec v16r1.

The packages Velo/VeloACDC, Velo/VetraScripts and Velo/VeloDBUI removed,
these will be replaced with new monitoring framework (except VELOACDC
which is VELO1 testbeam software). 

First version with slc6 gcc48 support, also is compilable with CMAKE as
well as CMT.
</PRE>


<H1><A NAME="v14r0">2013-07-12 - VetraSys v14r0</A></H1>
<PRE>
Version v14r0 uses LHCb v36r0, LbCom v14r0 and Rec v15r0.

A few improvements to IV monitoring, many compile warnings fixed
(including for gcc4.7): No build warnings at all in nightlies!
First version of Vetra available for slc6, new major version as new
REC/LBCOM versions linked against. 
</PRE>

<H1><A NAME="v13r2">2012-12-20 - VetraSys v13r2</A></H1>
<PRE>
Version v13r2 uses LHCb v35r3, LbCom v13r3 and Rec v14r3.

Collects improvements requested by shifters to VeloMoniGUI only.
</PRE>

<H1><A NAME="v13r1">2012-10-11 - VetraSys v13r1</A></H1>
<PRE>
Version v13r1 uses LHCb v35r2, LbCom v13r2 and Rec v14r2.

Changes to configuration:
  - None. Pick up new monitoring changes

New functionality:
  - See monitoring section

VELO monitoring:
  - Added luminosity plots

Bug fixes:
  - Various fixes related to monitoring
  - Removed all compile warnings on gcc-4.3 (many, many left in icc)

Nightly tests:
  - Fixed all nightly tests to work for gcc-4.3, getting different
results in histogram for icc (up to 2 ADC counts...) so tests fail
</pre>

<H1><A NAME="v13r0">2012-07-07 - VetraSys v13r0</A></H1>
<PRE>
Version v13r0 uses LHCb v35r1p1, LbCom v13r1p1 and Rec v14r1p1.

Changes to configuration:
  - None. Version mainly to pick up major update in LHCb software stack

New functionality:
  - See monitoring section

VELO monitoring:
  - PCNErrorMon algorithm added to the EB monitoring
  - Script to easily run IP monitoring added
  - Extension/improvements to cluster monitoring
  - DQS/trending tools for new low cluster multiplicity plots added
  - DQS extended

Bug fixes:
  - Various fixes related to monitoring

Nightly tests:
  - No updates
</pre>

<H1><A NAME="v12r4">2012-06-27 - VetraSys v12r4</A></H1>
<PRE>
Version v12r4 uses LHCb v34r3, LbCom v12r3 and Rec v13r3, same as Vetra v12r3.

Changes to configuration:
  - None. Version mainly to pick up updates to VELO monitoring

New functionality:
  - Easy to use the online DB snapshots with Vetra().UseDBSnapshot = True
  - More trending plots for monitoring

VELO monitoring:
  - PCN error monitoring added
  - Low ADC trending added
  - Obsolete BCL trends tab removed from VeloMoniGUI
  - Other small improvements here and there

Bug fixes:
  - None - a good sign!

Nightly tests:
  - No updates
</pre>

<H1><A NAME="v12r3">2012-05-11 - VetraSys v12r3</A></H1>
<PRE>
Version v12r3 uses LHCb v34r3, LbCom v12r3 and Rec v13r3.

Changes to configuration:
  - None. Version mainly to pick up fixes on dependencies (Rec)

New functionality:
  - None

VELO monitoring:
  - No updates

Bug fixes:
  - HTML release notes fixed for correct display

Nightly tests:
  - ZS QMTests updated
</pre>

<H1><A NAME="v12r2">2012-04-27 - VetraSys v12r2</A></H1>
<PRE>
Version v12r2 uses LHCb v34r2, LbCom v12r2 and Rec v13r2, same as Vetra v12r1.

Changes to configuration:
  - Change database access from Oracle to SQLite by default

New functionality:
  - Standard options to run emulator for ST.
  - Timing scan options for 50 ns bunch spacing
  - Monitoring of events with aborted processing, ProcStatus

VELO monitoring:
  - Monitoring plot for ProcStatus
  - Axis limits for BHXT and Pedestal plot extended to see the full range
  - Show number of ZS, NZS events separately for combined jobs
  - Simplification of gain scan analysis

Bug fixes:
  - Configuration: VetraMoni_Raw
  - In GUI:
   * TAE monitoring
   * VeloSemplingMonitor plot location set to correspond with off/online
   * Change to invocation of python code to fix bug and simplify code
   * Fixed formatting issue in number of high occupancy strips

</pre>

<H1><A NAME="v12r1">2012-04-02 - VetraSys v12r0</A></H1>
<pre>
Version v12r1 uses LHCb v34r2, LbCom v12r2 and Rec v13r2

New developments are: ST analysis: new algorithm and fixes. Velo: updates to 
timing scan and raw ADC monitoring, many updates to the GUI and associated 
scripts.
</pre>

<H1><A NAME="v12r0">2012-02-13 - VetraSys v12r0</A></H1>
<pre>
Version v12r0 uses LHCb v34r0, LbCom v12r0 and Rec v13r0
(picking up the LHCb v34r0 software stack).

First development version for 2012 data.

- Changes to configuration:
&nbsp;&nbsp;. Added support for 2012 DataType, behaviour currently identical to 2011
&nbsp;&nbsp;. Now default


- New functionality:
&nbsp;&nbsp;. Updates for ST analysis of data from 2011 and earlier

- Bug fixes:
&nbsp;&nbsp;. Various algorithm warnings and bugs fixed

- Monitoring:
&nbsp;&nbsp;. DQS expanded
&nbsp;&nbsp;. New algorithm HighMultiplicityMonitor
&nbsp;&nbsp;. New algorithm SEUMonitor
&nbsp;&nbsp;. Various bugs fixed

- Nightly tests:
&nbsp;&nbsp;. Various references updated
</PRE>

<H1><A NAME="v11r1">2012-02-07 - VetraSys v11r1</A></H1><PRE>
Version v11r1 uses LHCb v33r0, LbCom v11r0 and Rec v12r0.

Includes update for ST analysis of data from 2011 and earlier.

</PRE><H1><A NAME="v11r0">2011-10-03 - VetraSys v11r0</A></H1><PRE>
Version v11r0 uses LHCb v33r0, LbCom v11r0 and Rec v12r0.

New in this version: many updates to VeloMoniGUI: fix to Bad Strips, improved
presentation for occupancy and configurable cut for DQS entry, reference plot 
display in tracks tab, multiple smaller fixes (see package release notes).
ST databases are moved to separate package under Det. Vetra now gets correct
TELL1 conditions for older data. Several other bugfixes.


</PRE><H1><A NAME="v10r2">2011-08-03 - VetraSys v10r2</A></H1><PRE>
Version v10r2 uses LHCb v32r5, LbCom v10r5 and Rec v11r6.

This new release is built on the fresh LHCb v32r5 stack. Occupancy monitoring
per bunch crossing is improved. New option in VeloMoniGUI to plot masked
channels. Various bugs were fixed.

</PRE><H1><A NAME="v10r1">2011-06-21 - VetraSys v10r1</A></H1><PRE>
Version v10r1 uses LHCb v32r3, LbCom v10r4 and Rec v11r5.

The TELL1 parameter production scripts have been improved for more automation.
Options for ADC delay scan updated. New options for Trends, new plot for 
Clusters 2. Bad channel analysis was introduced. New Python modules to 
1) access VELOCOND database and 2) convert between strip numbers and channel
numbers.

</PRE><H1><A NAME="v10r0">2011-05-20 - VetraSys v10r0</A></H1><PRE>
Version v10r0 uses LHCb v32r3, LbCom v10r3 and Rec v11r4.

Version 10r0 adds a fix for reading the bad channels from the database.
The new database was introduced with v9r6 (see release notes for v9r6).
Various update of VELO monitoring scripts & options. Update of delay scan.

</PRE><H1><A NAME="v9r5">2011-05-10 - VetraSys v9r6</A></H1><PRE>
Version v9r6 uses LHCb v32r3, LbCom v10r3 and Rec v11r4.

This version is required for in order to read the VELO pedestals, which are now 
stored in a slightly different format in VELOCOND.db. The new set of 
parameters from May 1 2011 is included. This revision also includes various
improvements to the VeloMoniGUI. Fix to ADC monitoring.

</PRE><H1><A NAME="v9r5">2011-04-14 - VetraSys v9r5</A></H1><PRE>
Version v9r4p1 uses LHCb v32r2, LbCom v10r2 and Rec v11r3.

Improvements and bugfixes to VELO monitoring GUI and scripts. Uses new 
FastVeloTracking by default. VELO ADC monitoring updated. Picks up new 
version of Lbcom and Rec.

</PRE><H1><A NAME="v9r4p1">2011-03-09 - VetraSys v9r4p1</A></H1><PRE>
Version v9r4p1 uses LHCb v32r1, LbCom v10r1 and Rec v11r2.

Fixes problems in v9r4 related to VELO monitoring, and selects the 
correct data type and database tag for new data by default.

</PRE><H1><A NAME="v9r4">2011-03-09 - VetraSys v9r4</A></H1><PRE>
Version v9r4 uses LHCb v32r1, LbCom v10r1 and Rec v11r2.

Version to be used for monitoring of the first data of 2011. Updates to 
monitoring and NZS handling. Removes dependence on the VELO software experts
account. Various fixes.

</PRE><H1><A NAME="v9r3">2011-02-08 - VetraSys v9r3</A></H1><PRE>
Version v9r3 uses LHCb v31r8, LbCom v9r9, Rec v10r6.

Preparing for 2011 data taking. XML Database configuration is updated for
ST algorithms, and new tags added. Improvements to ADCMon and CMSMon in 
VeloDataMonitor.  Update VetraScripts with new pages and bugfixes in 
VeloMoniGUI, and scripts for automatic offline analysis.

</PRE><H1><A NAME="v9r2">2010-11-22 - VetraSys v9r2</A></H1><PRE>
Version v9r2 uses LHCb v31r6p1, LbCom v9r7p1, Rec v10r5p2.

To be used for all 2010 collision data. 

</PRE><H1><A NAME="v9r1">2010-09-11 - VetraSys v9r1</A></H1><PRE>
Version v9r1 uses LHCb v31r5, LbCom v9r6, Rec v10r4.

Identical to Vetra v8r7 <it>except</it> that it uses the new TELL1 lib (see Tell1/TELL1Engine)
for the new TELL1 firmware version 4.2.X uploaded and used as of run 77641.
By default the relevant VELOCOND.db tag velo-20100818 is used.

Add the nzsInfo service to facilitate nzs banks proper counting.

To be used for all collisions data taken starting with run 77641.

</PRE><H1><A NAME="v9r0">2010-08-18 - VetraSys v9r0</A></H1><PRE>
Version v9r0 uses LHCb v31r4, LbCom v9r5p1, Rec v10r3p1.

not released, skipping to v9r1 

</PRE><H1><A NAME="v8r7">2010-08-13 - VetraSys v8r7</A></H1><PRE>
Version v8r7 uses LHCb v31r4, LbCom v9r5p1, Rec v10r3p1.

Identical to Vetra v8r6 in most aspects. In particular it contains the same TELL1 firmware version 4.0
(TELL1lib 4.0.1) and uses by default the same VELOCOND.db tag velo-20100806.

To be used for all collisions data taken up to now and until the new firmware 4.2.X is uploaded.

</PRE><H1><A NAME="v8r6">2010-08-09 - VetraSys v8r6</A></H1><PRE>
Version v8r6 uses LHCb v31r4, LbCom v9r5p1, Rec v10r3p1.
Dependency on Online project removed.

New version built against the latest LHCb software, picking up the latest
software updates.
This version uses by default the version of the VELOCOND with DB tags
and is valid for all collision data up to today.

</PRE><H1><A NAME="v8r5">2010-06-10 - VetraSys v8r5</A></H1><PRE>
Version v8r5 uses Lbcom v9r3 Rec v10r0p1, LHCb v31r1 and Online v4r40

New version built against latest LHCb software new collision data taking
at 3.5 TeV - picking up the latest software updates

</PRE><H1><A NAME="v8r4">2010-05-12 - VetraSys v8r4</A></H1><PRE>
Version v8r4 uses Lbcom v9r2p1 Rec v9r2p1, LHCb v30r1p1 and Online v4r40

New version built against latest LHCb software new collision data taking
at 3.5 TeV - picking up the latest software updates

</PRE><H1><A NAME="v8r3">2010-04-20 - VetraSys v8r3</A></H1><PRE>
Version v8r3 uses Lbcom v9r1 Rec v9r1, LHCb v30r1 and Online v4r38

New version built against latest LHCb software new collision data taking
at 3.5 TeV

</PRE><H1><A NAME="v8r2">2010-03-25 - VetraSys v8r2</A></H1><PRE>
Version v8r2 uses Lbcom v8r3 Rec v8r2, LHCb v29r2 and Online v4r37

New version built against latest LHCb software new collision data taking
at 3.5 TeV

</PRE><H1><A NAME="v8r1p1">2010-02-17 - VetraSys v8r1p1</A></H1><PRE>
Version v8r1 uses Lbcom v8r1 Rec v8r0, LHCb v29r1 and Online v4r36

New version built against latest software tuned for early collision
data.

</PRE><H1><A NAME="v8r1">2009-12-16 - VetraSys v8r1</A></H1><PRE>
Version v8r1 uses Lbcom v8r1 Rec v8r0, LHCb v29r1 and Online v4r36

New version built against latest software tuned for early collision
data.

</PRE><H1><A NAME="v8r0">2009-11-20 - VetraSys v8r0</A></H1><PRE>
Version v8r0 uses Lbcom v7r8 Rec v7r8, LHCb v28r2 and Online v4r31

New version that accommodates round-robin data processing for
both Velo and ST

</PRE><H1><A NAME="v7r2">2009-09-17 - VetraSys v7r2</A></H1><PRE>
Version v7r2 uses Lbcom v7r5 Rec v7r5, LHCb v27r5 and Online v4r28

See release notes


</PRE><H1><A NAME="v7r1p1">2009-07-06 - VetraSys v7r1p1</A></H1><PRE>
Version v7r1p1 uses Lbcom v7r3 Rec v7r3, LHCb v27r3 and Online v4r24

A special version that is meant to provide functionality for
the TED '09 NZS data re-processing for the ST


</PRE><H1><A NAME="v7r1">2009-05-15 - VetraSys v7r1</A></H1><PRE>
Version v7r1 uses Lbcom v7r0, Rec v7r0, LHCb v27r0 and Online v4r22

 Changes in ST
---------------------------

 --> STVetraAnalysis v2r6

! 2009-05-15 J Luisier
 - Added configuration perl script and configuration xml file
 - Bug fix in MaskMerger.py

! 2009-05-11 J Luisier
 - Added scripts allowing to compare two DBs : CompareDBs.py, ReadDB.py and Utils.py
 - Added options directory, containing default options to read a database
 - Modified the way Conditions are accessed
 - Changed classID of the Conditions in VetraCondDB

! 2009-05-06 J Luisier
 - Bug correction in STPedestalWriter, small changes in STNoiseMonitor

! 2009-04-24 J Luisier
 - Destination MAC changed

! 2009-03-26 J Luisier
 - Changed write_st_xml_cond.py : the DU names are written in CAPITALS

! 2009-03-24 J Luisier
 - Add gain management in STNoiseMonitor
 - Add perl scripts to allow xml files comparison and noise / gain dump into DB
 - Code clean up

 --> STOnline v3r7

! 2009-03-02 - Mark Tobin
 - Moved STPedestalDecoding and STFullDecoding to ST/STDAQ
 - Moved STFullEventDump to ST/STMonitors

! 2009-03-02 - Jeroen van Tilburg
 - Cleaned up and simplied STPedestalDecoding and STFullEventDump.

! 2009-02-26 - Jeroen van Tilburg
 - Cleaned up and simplified STFullDecoding. Applied LHCb coding conventions.

! 2009-02-22  M Needham
 - Protect full decoding against invalid source ids
 - clean up pedestal decoding 

 --> STTELL1Algorithms v3r4

! 2009-03-30 - Jeroen Van Tilburg
 - Fill sentPPs information in STTELL1Data objects in STTELL1PedestalSubtractor
   and STTELL1LCMS.

! 2009-03-23 - Anne Keune
 - Added the possibility to skip clusters with error banks in the
   monitoring algorithm. (onl for zs).

! 2009-03-10 - Anne Keune
 - Moved to base class: ST::TupleAlgBase. Tuple made in 
  STTELLMonitoring.

! 2009-02-25 - Anne Keune
 - fixed bug in STTELL1Monitoring
 - changed header correction tags for condDB
 - added STTELL1Event to dependencies

 Changes in VELO
---------------------------

 --> VeloTELL1Algorithms v5r2

! 2009-04-20 - T Szumlak
 - new policy implemented - information taken form the file about active
   tell1 boards are more important than this found in the data base
 - list of the active tell1 boards now modified to include tell1 serial
   numbering scheme
 - emulation algorithms should cope with the round robin data now

 --> VeloDataMonitor v1r7

! 2009-04-14 - Eduardo Rodrigues
 - ExtractHeaders: now prints all options during initialization,
   and all histograms go under the "Velo/" directory
 - removal of a warning of int-unsigned int comparison

! 2008-11-30 - Tomasz Szumlak
 - move tag to v1r6 - release candidate for VETRA v7r0

! 2009-03-19 - Grant Duncan Mcgregor
 - Added ExtractHeaders.cpp. This is the first part of the planned 
   gain calibration. This code makes simple plots of headers for each link
   as well as header high, header low, and full header swing (FHS)
   distributions.

 --> VeloTELL1Checkers v1r10

 - add new monitoring algorithm for the Beetle Header
   XTalk correction: VeloBeetleHeaderXTalkCorrectionMoni
 - add new algorithm to evaluate common noise:
   VeloCMNoiseEvaluator

! 2009-04-20 - T Szumlak
 - add 2d monitoring algorithms for pedestal following tell1 algorithm
 - add option RunOffline, the lite version of the algorithm is run
   when this option is set to false

 --> VetraScripts v1r5

 2009-05-05  Lars Eklund
  Added functionallity for the I/V curve Tab. Also added features for reference files
  on the top level menu.
  New files drawSensorIVCurve and SensorIVCurve.h for drawing the I/V curves.
  New file channelMapper.C to map between HV channels and slot
  numbers. Could be extended to include S/W numbers or other useful
  tags in the plots.

! 2009-04-23  Paula Collins
  Put appropriate cuts in the cross talk macro so the red line is meaningful.
  From now on: anything above the red line = investigate!

! 2009-04-16 - Barinjaka Rakotomiaramanana
  - First version of drawIVCurve.py: Python script to draw IV curves from a data file
    and a reference data 

! 2009-04-16 - Eduardo Rodrigues
 - dispCluster.py script: loading of macro corrected
 - VeloMoniGUI.h/.C:
   - added buttons in "tab" for IV curves
   - fixed of erroneous attempt to open an empy file name in default constructor
   - removal of unnecessary code

! 2009-04-15 - Karol Hennessy
 - VeloMoniGUI.C,ChannelNoisePlot.C - bug fix that only occurred in compiled
   version.  Standard noise plots should display fine now.
 - drawHeaderCrossTalkPlots.C - minor fix - casting between int/double

! 2009-04-14 - Eduardo Rodrigues
 - Gain monitoring now fully functional in the GUI (required a tiny fix to
   drawFHSPlots.C)

! 2009-04-11 - Karol Hennessy 
 - pvssvetra.py - added code to display VeloMoniGUI after Vetra run
 - vetraOffline - modified code to use new Vetra Histogramming
                - fixed bug when running twice in the same directory
                  at the same time.
 - delayScanAnalyser.C - changed function name to match filename
                - added code to handle "flat" delayscan histos

! 2009-04-11 - Karol Hennessy 
 - VeloMoniGUI.h new header file for VeloMoniGUI - forgot to add on last
   commit
 
! 2009-04-11 - Karol Hennessy 
 - VeloMoniGUI is now compilable.  Compile using macros/make_gui.sh
   Component macros edited to be compilable also.  Python element of GUI 
   disabled for now.  loadMacro() function calls replaced by #include
   statements.
 - Some interface changes to GUI to allow Canvas resizing and set minimum
   window size.  Makes more efficient use of space.

! 2009-04-02 - James Mylroie-Smith
 - added dispCluster.py: plots landaus for each r and phi sensors and 
    mpvs for all sensors

! 2009-03-28 - Karol Hennessy 
 - added DELAYSCAN recipe to vetraOffline and pvssvetra.py

! 2009-03-27 - Grant Duncan Mcgregor
 - added drawFHSPlots.C. Makes four types of plots of header properties.
   FHS, average header values, header high/low RMS and plots of headers
   specified by sensor/link numbers by user.

! 2009-03-22 - Karol Hennessy 
 - added LinkNoisePlot.C: makes a 2D plot of noise per link vs sensor
 - added TPLinkNoisePlot.C: same as LinkNoisePlot.C but for testpulse data
   on channel 4 only.
 - modified VeloMoniGUI.C: to use these two macros and added slider 
   functionality to control with these plots by changing max/min colour 
   range.

! 2009-03-19 - Karol Hennessy 
 - fix to vetraOffline to properly tag the output histos rootfile
 - commented out ADCMon by default (not really used so much and causes
   slowdown)

! 2009-03-18 - Eduardo Rodrigues
 - more help in vetraOffline

! 2009-03-18 - Sara Traynor
 - added ScanBadChannels.py: Scans over bad strips in TELL1s

! 2009-03-17 - Karol Hennessy
 - added ChannelNoisePlot.C: plots noise for a given sensor 
 - added NoiseDiff.C: take the difference between reference noise and test
   noise
 - added ChannelNoise plot and NoiseDiff to VeloMoniGUI.C to return some 
   of Torkjell's functionality to the GUI

! 2009-03-16 - Eduardo Rodrigues
 - vetraOffline corrected to run over all the input files by default

! 2009-03-12 - Eduardo Rodrigues
 - vetraOffline script adapted to use the Pythonized Vetra versions
   (v7r0 onwards). Now being used online at the pit.

VETRA v7r1
------------

! 2009-05-08 - Eduardo Rodrigues
 - main configurable simplified where appropriate, consistency checks added,
   new option for convergence limit of pedestals training
 - tiny improvements to the VetraTELL1ParaTrainingConf configurable
 - run file Vetra-ProcessingParaChecking.py modified accordingly
 - a few inconsistencies fixed
 - option file options/Velo/EmulatorConvergenceLimit_BPC.py removed
 - option file options/Velo/EmulatorConvergenceLimit_.py now takes care of
   setting convergence limit values everywhere
 - option file options/Velo/TELL1ParaChecking.py simplified as conv. limit
   taken care of elsewhere

! 2009-05-07 - Tomasz Szumlak
 - removing old/obsolete *.opts options files
  - TELL1EmulatorCondDB.opts
  - VeloCondDB.opts 
  - TELL1Checkers.opts

! 2009-05-07 - Tomasz Szumlak
 - major updates of the configurables/python options files:

  -> new configurable class to take care of traininig process
     VetraTELL1ProcessingConf.py
    - related options files:
     Vetra-ProcessingParaTraining.py
     Vetra-ProcessingParaChecking.py
     TELL1ParaTrainingComputers.py
     TELL1ParaChecking.py

  -> cleaning in the various files responsible for the emulator configuration
    - VetraTELL1ProcessingConf.py
    - Configuration.py
    - VetraMoniConf.py
    - VetraTELL1Emulator.py

  -> options file added:
    - VeloCondDB.py - use with the VELOCOND DB
    - EmulatorConvergenceLimit.py - use to set convergence limit for
      the pedestal following algorithm

  -> bit perfectness verification
    - Vetra-BitPerfectnessChecker.py
    - VetraDecoding_BPC.py
    - VetraMoni_BPC.py

 NOTE - each option file that starts with 'Vetra-' can be use with 
        gaudirun.py script - a job will be configured, run and the
        sensible output created, however, to analyse it we need some
        more stuff that is provided via appropriate python modules.
        All this will be explained during second Vetra tutorial! 

! 2009-04-24 - Tomasz Szumlak
 - modification to the python modules that are responsible for 
   retrieving and processing the tell1 parametes (mainly driven
   by the full chain parameters setting procedure tests in the pit)

! 2009-04-22 - Karol Hennessy
 - fixed bug in Vetra-Default-GenData.py - needs to use the CondDB
   this also requires creating the CondDB.  If it doesn't exist, python will
   halt with an error.

! 2009-04-21 - Kurt Rinnert
 - added python module to get TELL1 to sensor mapping from Liverpool database.

! 2009-04-21 - Eduardo Rodrigues
 - tiny fixes in Vetra-Default-GenData.py

! 2009-04-20 - Tomasz Szumlak
 - python modules that run the tell1 paramters training has been updated
 - this version of package is meant for test of the full chain of the
   parameters determination and uploading 

! 2009-04-15 - Karol Hennessy
 - added Vetra-Default-GenData.py: new run file to analyse generated data
   with the VeloClusterCompare algorithm

! 2009-04-14 - Eduardo Rodrigues
 - There was no fix needed: HistogramPersistencySvc().OutputFile = 'foo.root'
   worked just fine!
 - VetraOffline.py and VetraOnline.py run files updated

! 2009-04-11 - Karol Hennessy
 - IMPORTANT CHANGE 
   Added extra option to Configuration.py to allow histogram filename choosing
   Set with Vetra().HistogramFile = "myHistos.root"
   This was to fix the fact that HistogramPersistencySvc().OutputFile =
   "foo.root" does not work in this version

! 2009-04-09 - Eduardo Rodrigues
 - Added VetraRuntimeError, a Vetra exception class for inconsistent job
   option configurations
 - CheckDelayscan job option only concerns monitoring -> removed from the main
   Vetra configurable. Adaptations made accordingly everywhere
 - VetraMoniConf monit. configurable implements checks for consistent options
 - Clean-up of unnecessary code

! 2009-04-08 - Eduardo Rodrigues
 - Context property properly handled by each processing phase
 - implemented the possibility of writing out to the DIGI file only if certain
   algorithms issue a "filter pass" ('RequireAlgs' prop. of the DIGI writer)
 - more documentation in all configurables

! 2009-03-30 - Karol Hennessy
 - Added Delayscan to the set of Vetra tasks.  This includes a run file:
   Vetra-Delayscan.py, a monitoring file: VetraMoni_Delayscan.py and changes
   to the existing files in the python/Vetra directory to deal with a new
   option to the Vetra configurable. CheckDelayscan=True/False
   This version of the Delayscan uses no Tell1 Emulator code and by default
   disables NZS monitoring.

! 2009-03-19 - Eduardo Rodrigues
 - Remaining .opts option file Vetra.opts removed.
   Removed options have been implemented in the main Python configurable:
   settings for POOL persistency and IO, settings for the histogram
   persistency service, definition of auditoring services, etc.
   Related "MainOptions" option of main configurable removed as well.

! 2009-03-18 - Eduardo Rodrigues
 - NZS decoding and monitoring options improved. Better for ROOT to handle
   directory structures.

! 2009-03-17 - Eduardo Rodrigues
 - main Vetra configurable simplified
 - DIGI output writer related files VetraOutputConf.py and
   VetraDigiContents.py corrected

! 2009-03-12 - - Eduardo Rodrigues
 - new example files Vetra-Default-ZS_Data.py Vetra-Default-NZS_Data-Emul.py
   to run certain pre-configurations. Used at the pit by the "vetraOffline"
   script (see Velo/VetraScripts/scripts).

! 2009-03-11 - Eduardo Rodrigues
 - Python configuration file for the TELL1 emulation, VetraTELL1Emulator.py,
   made the same as the original TELL1Emulator.opts file. Several bugs fixed.
   The Python file has replaced the obsolete .opts file.
 - obsolete TELL1Emulator.opts file removed
 - processing phase now using VetraTELL1Emulator.py
 - new options file Vetra-Default-NZS+ZS_Data-Emul.py exemplifies how to run
   a job looking at NZS+ZS data and also running the emulation
 - removal of old file VetraDigiWriter.opts

! 2009-03-10 - Eduardo Rodrigues
 - new file options/Velo/Vetra-TED_Data-2008-08.py: example of how to run
   Vetra over 2008 TED data
 - NZS monitoring: Python options set to match the old .opts algo. options
 - decoding & monitoring for time-alignment events not run by default

! 2009-03-03 - Kurt Rinnert
 - fixed options files for online monitoring

! 2009-02-24 - Tomasz Szumlak
 - small typo in emu_bit_perfectness_checker.py fixed

! 2009-02-15 - Kurt Rinnert
 - added options file for running A-rx test.  Needs to be ported to Python.


</PRE><H1><A NAME="v7r0">2009-02-05 - VetraSys v7r0</A></H1><PRE>
Version v7r0 uses Lbcom v6r25, Rec v6r1, LHCb v26r1 and Online v4r19

 Changes in ST
---------------------------

 --> STVetraAnalysis v2r5

! 2009-02-18 - Jeroen Van Tilburg
 - Add new algorithm: STHeaderScan. Can be used for analysing the header shape
   in an ADC scan.

! 2009-02-17 - Jeroen Van Tilburg
 - STTimeScan: Use findSector method from DeSTDetector instead of base class to
   avoid throwing of exception. Also changed two options from int to double.

! 2009-02-13 J Luisier
 - Put the 's' option when calling the profile1D methods, in order to have
   the noise from the error of the profile (default value of option changed)
 - Add STNoiseMonitor algorithm, which allows to get the noise (double value)
   in the detector, and stores the values in Condition DB format (per sector)

! 2009-02-09 J Luisier
 - Add uniqueBeetle output (IT1ASector ... instead of link 1 port 2)
   for STErrorMasker and STBadLinkMasker

! 2009-02-02 J Luisier
 - Changed tag Pseudo_header_thresholds of xml DB to
   Pseudo_header_low_threshold and Pseudo_header_high_threshold, in order to
   be consistent with cfg files.
 - Changed write_st_cond_xml.py and ConfigFileWriter.py accordingly

! 2009-01-30 J Luisier
 - Add STPedestalWriter algorithm, allowing to extract and format pedestal values
   from the TELL1 to xml files
 - Code cleanup

! 2009-01-29 J Luisier
 - Changes in write_st_cond_xml.py : added new information in xml (expected firmware version)

! 2008-12-08 J Luisier
 - Changes in write_st_cond_xml.py (complete xml is generated, to be PVSS compatible)
 - Changes in some tag names

 --> STOnline v3r6

! 2009-02-03 M Needham
 - Remove a cout

! 2009-01-19 M Needham
 - Changes to full decoding to allow for case where partial 
   full events are sent [ie 1,2,3,4 pp's]

 Changes in VELO
---------------------------

 --> VeloTELL1Algorithms v5r1

! 2009-02-19 - T Szumlak
 - fix of the pedestal following algorithm to use properly the new
   update engine interface

! 2009-02-17 - Kurt Rinnert
 - no more streaming to stdout in pedestal follower, streaming to INFO instead.

! 2008-12-03 - T Szumlak
 - fix to requirements options using CLHEP instead HepMC

 --> VeloDataMonitor v1r6

- bug fixes to A-rx test algorithm: due to a block copy error the header ADC
   values were retrieved from the channel ADC container, screwing up all fits.
   The link order was different as well.  After further tests I can now
   confirm the input data is bit perferctly the same as in the old
   implementation and old results are reproduced.

! 2009-02-15 - Kurt Rinnert
 - added port of A-rx test algorithm

--> VeloTELL1Checkers v1r9

! 2008-08-26 - T Szumlak - v1r9
 - monitors can now run with fixed banks (convergence limit set to 0)
 - control points histograms added to pedestal monitoring algorithm

 VETRA v7r0
-------------------------

! 2009-02-05 - Eduardo Rodrigues
 - Vetra exceptions give highlighted info (in colour)

! 2009-02-04 - Eduardo Rodrigues
 - docstrings added to all Vetra configurable attributes

! 2009-02-03 - Eduardo Rodrigues
 - main options file Vetra.opts made minimalistic (to be "pythonized")
 - configuration of NZS data decoding updated for when running on MC
 - clean-up of NZS monitoring
 - logging introduced in all configurables (Vetra main, TELL1 processing,
   monitoring, output)
 - added VetraMoni_TAE.py: monitoring configuration for time-alignment studies
 - monitoring configurable has new attribute and corresponding options
   (VetraMoni_TAE.py) for time-alignment studies

! 2009-01-30 - Eduardo Rodrigues
 - modification of the decoding sequence for the "ProcFull" databank
 - modification of the decoding sequence for the "ZS" databank
 - added new databank type relevant for error bank studies
 - improvements/additions to the main Vetra configurable:
   - added database-related options
   - the setting of properties related to the application manager is now
     delegated to the LHCbApp configurable
 - main Vetra configurable updated accordingly

! 2009-01-29 - Eduardo Rodrigues
 - correct initialization of NZS monitoring algorithms

! 2008-12-04 - Tomasz Szumlak
 - remove obsolete option files: 
   VetraCompareBanks.opts
   options/Velo/TELL1EmulatorHP4SrcIdList.opts
 - add options file to run with the VELOCOND DB
   VeloCondDB.py
 - modify the emu_bit_perfectness_checker.py - this one should be
   run to get the comparison between the tell1 and emulated data

! 2008-12-04 - Eduardo Rodrigues
 - adaptations of the Vetra configurable to the latest flavour of LHCb
   configurables -> addition of extra options and methods
 - trivial fix to VetraMoni_NZS.py options file
 

</PRE><H1><A NAME="v6r3">2008-11-30 - VetraSys v6r3</A></H1><PRE>
Version v6r3 uses Lbcom v6r24, Rec v5r0, LHCb v26r0

 ST related changes  
----------------------
STTELL1Algorithms
- Added the first version of the STTELL1Monitoring

STVetraAnalysis
 - Move STTimeScan to new base class/ new version of STKernel
 - STTimeScan: simplify code, remove noise calculation. Add profile histograms
   per sector and per type.
 - Add macros for analysing the root file from STTimeScan.
 - Change disabled port tag in write_st_xml_cond
 - Add new base classes usage
 - Code cleanup
 - Minor update to STTimeScan.
 - Add check of unused sectors
 - Bug fix in write_st_xml_cond.py
 - Add management of disabled ports and links in the DB, updated ConfigFileWriter
   according to the changes
 - Code clean up

 VELO related changes  
----------------------
VeloTELL1Algorithms
 - adapt to the new version of the Tell1 firmware
 - pedestal engine has changed very much (i-face, data structures)

General
----------------------
Vetra
 - remove obsolete options
 - all monitoring tasks (NZS, ZS, EB) in dedicated sequencers
 - NZS monitoring sequence now defined in Python (VetraMoni_NZS.py)
 - extra checks introduced in the configuration files
 - VetraOptionsChecker.py:
   - new method to print out all allowed values for the	Vetra-specific
     job option configurations
   - allowed values printed out when configuration errors are raised
 - VetraDecoding_TAE.py: time-alignment decoding also in dedicated sequencer
 - VeloTrackMonitor algorithm introduced in the sequence of ZS data monitoring
 - a couple of typos corrected
 - several decoding options files introduced, for the "TELL1Processing" phase:
   - VetraDecoding_NZS.py: decoding of non-zero-suppressed data
   - VetraDecoding_EB.py : decoding of error banks
   - VetraDecoding_PF.py : decoding of the "ProcFull" bank
   - VetraDecoding_ZS.py : decoding of zero-suppressed data,
                           replaces VetraDecoding.py
 - related monitoring options file created: VetraMoni_EB.py
 - job configuration flags introduced: specification of data type (NZS, ZS,
  NZS+ZS, ProcFull), checking of error banks and time-aligned events
 - Update some python scripts related with creation of the XML
   conditions tree
 - add time stamp module
 - add generation data bit perfectness checker
 - script create_base_line_db.py can now build both standard
   XML tree (for regular pocessing) and genereated data
 - options file has been added for running over the generated
   data
 - in order to display results of the comparison of the generated
   data (real tell1 zs bank and emulated one) two root macros
   are provided:
   macros/dispComp.cxx
   macros/dispGenData.cxx
 - First version of Vetra configurables and Python options.
   The default set-up runs a default Vetra job, driven from Python.
 - The new configuration files in python/Vetra are:
   - Configuration.py: high level configuration for Vetra
   - VetraTELL1ProcessingConf.py: configuration for the "TELL1Processing"
     phase of a Vetra job
   - VetraMoniConf.py: configuration for the "Moni" phase of a Vetra job
   - VetraOutputConf.py: configuration for the "Output" phase of a Vetra job
   - VetraOptionsChecker.py: module dealing with Vetra configuration errors
-  The new options files in options/Velo are:
   - VetraDigiContents.py: file defining the contents of the output DIGI file
   - VetraDecoding.py: main Vetra option file for the "TELL1Processing" phase.
     Defines the decoding of the VeloRawBuffer into VeloClusters.
   - VetraDecoding_TAE.py: same as VetraDecoding.py for time-alignment studies
   - VetraMoni_NZS.py: configuration for monitoring of non-zero-suppressed data
   - VetraMoni_ZS.py: configuration for monitoring of zero-suppressed data
   - Vetra.opts:  top-level Vetra job options file
   - VetraOffline.py: example of a main script to run Vetra in "offline" mode.
     Simply do
     gaudirun.py $VETRAOPTS/Velo/VetraOffline.py SomeInputFiles.py
   - VetraOnline.py: similar to VetraOffline.py for "online" mode

TELL1Engine
 - new release v2r0

VELO
 - new tell1lib high level modell has been ported
 - the most significant changes:
   1) fixed bug in mcms algorithm
   2) many fixes in clusterization (zero suppression) algorithm
   this edition should cure all the problems related with production
   more than one cluster with the same centre strip on the same sensor
 - the modified c-module for pedestal update has partially new i-face
   the change concerned the pedestal sum data - for the present release
   both the table format and its size (no dummy strips!) have changed
   this must be checked and validated
ST
 - Added latest version of ZSProcessor supplied by Alex


</PRE><H1><A NAME="v6r2">2008-09-09 - VetraSys v6r2</A></H1><PRE>
Version v6r2 uses Lbcom v6r21, Rec v5r10, LHCb v25r0

First release that depends on Online system 

 ST related changes  
----------------------
STTELL1Algorithms
 - Bug fix in initConditions(), add clearing of non-reassigned vectors
 - Putting in a pedestal bank for easy comparison with the TELL1 pedestal bank

STVetraAnalysis
 - Port time scan to head of STKernel 
 - Updated STTimeScan with new functionalities (e.g. seperate positive/negative
   pulses).
 - Bug fix in STThresholdFinder
 - Tell1 source ID is now written on 3 digits in histograms
 - Add doxygen comments
 - Changes in STScanner (more and nicer histogramms)
 - Remove useless member in STBadLinkMasker
 - Disabled links are again reporteed as errors (clustering issues)
 - Follow changes in STKernel
 - Short strips are now tracked down correctly
 - No error is returned when the link is disabled
 - Add xml to config file python script
 - Reduce number of bins in 2D histograms in STErrorMasker (one bin
   per analog port is enough)
 - Clean up the debug statements
 - Add TestulseData options, in order to tack down short strips in
   STBadLinkmasker
 - Add checking of known errors (a strip won't be tagged OK if it
   is known to be short, open, ...)
 - Add ConfigFileWriter.py, able to dump XML values into cfg files
 - Add functionality to time scan 
 - Add STTimeScan - shows how to do a timing scan with ODIN
 - Add sourceID - TELL1 number mapping
 - Bug fix in STErrorMasker
 - Code clean up

STOnline
 - split printout of full event info from decoding. 
 - new algorithm STFullEventDump  

 VELO related changes  
----------------------
 VeloTELL1Algorithms
 - it is possible now to run a job with convergenceLimit set to 0
   (VeloTELL1EmulatorInit modified)
 - when a job is run in DYNAMIC mode pedestal bank is picked up
   from the VELOCOND database
 - training cycle is now determined by the convergence limit
 - vector with headers needed by the Beetle header XTalk correction 
   has been appropriatelly adjusted by inserting dummy channels (this
   is required by the Velo engine class)
 - mapping condition is now printed out by the default
 - when discrepancy between tell1 borads list from the data and that
   stored in the VELOCOND data base is detected a Warning is issued
   not a FATAL error - this change is temporary only and should be 
   removed when the DAQ system will be stable
 - missing input containers are no longer an error condition

VetraKernel
 - change in VeloTELL1Algorithm base calss - it is now allowed to have
   convergence limit equal to 0 - this is fine if the job is run with
   trained conditions database 
 - the TELL1 algorithm base class no longer treats missing input container as
   an error.

VeloDataMonitor
 - added options file for running online
 - missing input containers are no longer an error condition
 - bugfix and better error counting in error monitor
 - higher publishing frequency for error monitor
 - added error monitor algorithm and corresponding options file for testing.
   This algorithm counts the number of error flags set by TELL1's in the ZS
   bank as well as events missed by TELL1's.

VeloTELL1Checkers
 - VeloTELL1ErrorBankReader can now plot summary information, users can
   add plots on their own
 - heavily midified pedestal monitoring algorithm - now adapted to provide
   information for the training phase of the emulation
 - change algorithm to error bank monitoring 

VeloClusterDataMonitor
 - histograms now produced under the "Velo/" directory
 - redundant PrintInfo job option replaced by standard msgLevel( MSG::DEBUG )
 - VeloClusterDataMonitor algorithm:
   added a new job option to switch on production of 2D histograms
   (off by default as they eat a lot of memory)
 - job options adapted to Python
 - standard options file still kept (temporarily) for backward compatibility

VeloTrackDataMonitor
 - added minimal monitoring option to track monitor
 - missing input containers are no longer an error condition
 - output levels set to 3
 - histograms now produced under the "Velo/" directory
 - VeloTrackDataMonitor:
    - bugs in calculations of residuals corrected
    - corrected usage of MeasurementProvider
    - redundant PrintInfo job option replaced by standard msgLevel( MSG::DEBUG )
 - VeloTrackDataMonitor: job options adapted to Python
 - standard options file still kept (temporarily) for backward compatibility


</PRE><H1><A NAME="v6r1">2008-07-09 - VetraSys v6r1</A></H1><PRE>
Version v6r1 uses Lbcom v6r19, Rec v5r8, LHCb v24r0


 ST related changes  
----------------------
  STVetraAnalysis
  - two new algorithms what track down bad links and are able to build the "dead strip mask".
  - several changes in header correction algorithms, since the structure of the DB has changed
  - some clean up of the code

  - moved STErrorDecoding to STDAQ from STOnline
  - Consolidated header files related to constants. [Now all constants 
    are in ST/STKernel STDAQDefinitions.h]
  - Consolidated bank mapping functions into ST/STKernel STRawBankMap.h
  - Made some bug fixes in print functions in STTELL1Event

 VELO related changes
----------------------
  Velo/VetraAnalysis
  - new algorithm (computer) added to evalulate Beetle Header X-Talk
    (the default algorithm implemented in Tell1/TELL1Engine package
     stays the same - it seems that single correction is enough for
     the VELO, also, we need to do similar correction for the second
     channel in each analogue link)
  Tell1/VetraKernel
  - changes to VeloTELL1Algorithm base class related with retrieving Tell1
    list - at present the information is taken form the VELOCOND DB
  Velo/VeloTELL1Algorithms
  - changes in condition caching related with obtaining the Tell1 list
  - pedestal following is automatically switched off after the 'Training Cycle'
    the training cycle for the standard data is set by default to 4000 events
  Tell1/TELL1Engine
  - code clean up - old code snipets removed, were kept for comparison of the
    results
  Velo/VeloTELL1Checkers
  - minor changes - correlation histograms added


</PRE><H1><A NAME="v6r0">2008-05-23 - VetraSys v6r0</A></H1><PRE>
Version v6r0 uses Lbcom v6r17, Rec v5r6, LHCb v23r6

This release combines software for NZS real data analysis
for both ST and VELO (this is the first common release for
the both silicon detectors). Use of conditions data base is
enabled for both detectors. Decoding of the NZS data is fully
compatible with definitions of the real banks.


</PRE><H1><A NAME="v5r1">2007-12-06 - VetraSys v5r1</A></H1><PRE>
Version v5r1 uses Lbcom v6r12, Rec v5r1, LHCb v23r1

The core package structure has been heavily rebuilt. Non-Zero
Suppressed data decoding moved to VeloDAQ package - now is a part
of official LHCb decoding. Event classes moved to VeloEvent package.
All functionality of the VeloTELL1Kernel moved to DAQ/Tell1Kernel.
Three brand new core packages have been added - VetraKernel, VetraAnalysis
and VeloTELL1DevAlgorithms. The VetraKernel package contains tool interfaces,
base classes and algorithms used througout the Vetra. The VetraAnalysis
is meant to be a place where algorithms related with TELL1 data
analysis will be kept. At the moment one can find cross talk computer
and emulated cluster monitor inside. The VeloTELL1DevAlgorithms
is the place for development/alternative TELL1 processing algorithms.
Also, one new monitoring algorithm has been included to aid commissionig
procedure.

</PRE><H1><A NAME="v5r0">2007-08-26 - VetraSys v5r0</A></H1><PRE>
Version v5r0 uses LHCb v22r8 and Gaudi v19r4. 

It features a brand
new emulator that is buit by means of tell1lib software that is
used in turn for VHDL firmware validation. This is the first
attempt to port tell1lib modules into Gaudi framework. The architecture
of the new emulator is based on wrapper-plugin approach. Each Velo
specific code is put inside wrapper (VeloTELL1Algorithms package)
whereas all tell1lib code is encapsulated within engine classes
(TELL1Engine). The engine classes can be use by other groups to
emulate raw data pre-processing.

</PRE><H1><A NAME="v4r2">2007-06-21 - VetraSys v4r2</A></H1><PRE>
Version for online farm, uses LHCb v22r6 and Gaudi v19r4

</PRE><H1><A NAME="v4r1">2007-06-21 - VetraSys v4r1</A></H1><PRE>
First version for online farm, uses LHCb v22r5 and Gaudi v19r3


</PRE><H1><A NAME="v4r0">2007-04-13 - VetraSys v4r0</A></H1><PRE>
This version uses LHCbEnv v22r3,  Rec v4r3 and Lbcom v6r3
This release has basically the same functionality as v3r3
but is compatible with the latest CMT v1r20 and includes
all updates and fixes present in new Lbcom and Rec.
The release will be primarily used to study default
tracking (non-generic) with test beam data.  


</PRE><H1><A NAME="v3r3">2007-04-11 - VetraSys v3r3</A></H1><PRE>
This version uses LHCbEnv v21r12 and Rec v3r14 and is meant to
be compatible with previous release (ACDC3 analysis)
- All bit perfect TELL1 algorithms available
- Each of them can be validated againt its counterpart from TELL1Lib 

</PRE><H1><A NAME="v3r2">2007-03-12 - VetraSys v3r2</A></H1><PRE>
This version uses LHCbEnv v21r12 and Rec v3r14 and is not
compatible with the new version of the CMT environment
- The main change is drop of the bit perfect algorithms
  in the TELL1 emulator, from this time forth only c-modules
  based approach is in use
- Appropriate changes in VeloTELL1Kernel, VeloTELL1Event have
  been made to follow new model of the TELL1 processing


</PRE><H1><A NAME="v3r1">2006-10-24 - VetraSys v3r1</A></H1><PRE>
This version uses LHCbEnv v21r10 and Rec v3r11
- A number of corrections and fixes are available now (mainly
  concerned VeloChannelReorderer and VeloTELL1ClusterMaker)


</PRE><H1><A NAME="v3r0">2006-10-24 - VetraSys v3r0</A></H1><PRE>
This version uses LHCbEnv v21r9 and Rec v3r11
- First implementation of emulation of the TELL1 processing 

- A number of updates and fixes (mainly related to tracking)
  for ACDC3

</PRE><H1><A NAME="v2r3">2006-08-01 - VetraSys v2r3</A></H1><PRE>
This version uses LHCbEnv v21r3 and Rec v3r5

- ODIN decoding enabled

- DAQ/MDF included in OnlineEnv

</PRE><H1><A NAME="v2r2">2006-07-13 - VetraSys v2r2</A></H1><PRE>
This version uses LHCbEnv v21r2 and Rec v3r5

- Package added: VeloFullDataMonitor

- Packages modified: VeloTELL1Engine v1r1, VeloTELL1Algorithms v1r2,
  VeloTELL1Event v1r1

</PRE><H1><A NAME="v2r1">2006-06-29 - VetraSys v2r1</A></H1><PRE>
Version of the package compatible with new LHCbEnv v21r1
                    

</PRE><H1><A NAME="v2r0">2006-06-27 - VetraSys v2r0</A></H1><PRE>
                    this the first version of the VETRA project

!=======================================================================
